ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    text-align: left;
    align-content: center;
    font-size: 0.8em;
    color: #888;
    text-transform: uppercase !important;
}

img {
    width: 90%;
    height: 90%;
    max-height: 150em;
    display: block;
  }