
ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    text-align: center;
    align-content: center;
    font-size: 2.5rem;
    color: #888;
}

a:visited{
    color: #b76e79;
}

.post-category{
    text-align: center;
    text-transform: uppercase !important;
    font-size: 0.8rem;
}

.post-content{
    font-size: 0.7rem;
}


.progressive-loading {
    overflow: hidden;
    position: relative;
    &-wrapper {
      img {
        width: 100%;
        height: auto;
        display: block;
        min-width: 100%;
        transform: scale(1.1);
        opacity: 1;
        transition: opacity 2s ease-in-out;
        &.original {
          position: absolute;
        }
        &.thumb {
          filter: blur(8px);
        }
        &.hide {
          opacity: 0;
        }
      }
    }
  }
